{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "sourceType": "script"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "consistent-return": "off",
    "eqeqeq": "off",
    "import/order": "off",
    "no-console": 0,
    "no-use-before-define": ["error", "nofunc"],
    "prefer-template": "off",
    "strict": [2, "global"]
  },
  "settings": {
    "import/core-modules": [ "electron" ]
  }
}
